version: "3.9"
services:
   db:
      image: "postgres:14"
      ports: 
      - "5432:5432"
      environment:
      - POSTGRES_USER=${USER}
      - POSTGRES_DB=${DATABASE}
      - POSTGRES_PASSWORD=${PASSWORD}
      networks:
         node_net:
            ipv4_address: ${HOST}
   vozniki:
      image: "tp7220/voznikivmesnik"
      ports:
      - "5001:5001"
      environment:
      - DATABASE_IP=${HOST}
      - PGUSER=${USER}
      - PGDATABASE=${DATABASE}
      - PGPASSWORD=${PASSWORD}
      networks:
         node_net:
            ipv4_address: 172.30.1.3

   placila:
      image: "tp7220/placila"
      ports:
      - "5002:5002"
      environment:
      - DATABASE_IP=${HOST}
      - PGUSER=${USER}
      - PGDATABASE=${DATABASE}
      - PGPASSWORD=${PASSWORD}
      - GRPC_SERVER_IP=${SERVER_IP}
      networks:
         node_net:
            ipv4_address: 172.30.1.4

   app:
      image: "tp7220/uporabniki"
      ports:
      - "5003:5003"
      environment:
      - DATABASE_IP=${HOST}
      - PGUSER=${USER}
      - PGDATABASE=${DATABASE}
      - PGPASSWORD=${PASSWORD}
      networks:
         node_net:
            ipv4_address: 172.30.1.5

   grpcstreznik:
      image: "tp7220/grpcstreznik"
      ports:
      - "50051:50051"
      networks:
         node_net:
            ipv4_address: ${SERVER_IP}

networks:
  node_net:
    ipam:
      driver: default
      config:
        - subnet: 172.30.1.0/16
